:root {
  /*TODO*/
  --navbar-height: 44px;
  --global-nav-collective-height: 44px;
  --navbar-background: #333232;
  --navbar-text-color: #f5f5f7;
  --hero-background: #eaf2fc;
  --hero-content-height: 569px;
  --navbar-bottom-height: 90px;
  --content-height: 569px;
  --columns: 1;
  --gutter-width: 12px;
  --gutter-half-width: 6px;
  --gutter-and-half-width: 18px;
  --gutter-color: #fff;
  --double-edge-border-width: 0px;
  --edge-border-width: 0px;
  --background-color: #fbfbfd;
  --text-color: #1d1d1f;
  --edge-border-width-fallback: 0px;
  --footer-background: #f5f5f7;
  --footer-border-color: #d2d2d7;
  --footer-text-color: #6e6e73;
  --footer-link-color: #424245;
  --footer-directory-title-color: #1d1d1f;
  --footer-directory-title-color-hover: #000;
  --footer-mini-shop-link-color: #06c;
  --r-globalnav-height: 44px;
  --r-globalnav-segmentbar-height: 0px;
  --r-globalnav-viewport-large-min-width: 1024px;
  --r-globalnav-viewport-large-max-width: 1441px;
  --r-globalnav-viewport-large-query: (min-width: 1024px);
  --r-globalnav-viewport-medium-min-width: 834px;
  --r-globalnav-viewport-medium-max-width: 1023px;
  --r-globalnav-viewport-medium-query: (max-width: 1023px);
  --r-globalnav-viewport-small-min-width: 420px;
  --r-globalnav-viewport-small-max-width: 833px;
  --r-globalnav-viewport-small-query: (max-width: 833px);
  --r-globalnav-viewport-xsmall-min-width: 320px;
  --r-globalnav-viewport-xsmall-max-width: 419px;
  --r-globalnav-viewport-xsmall-query: (max-width: 419px);
  --r-globalnav-segmentbar-background: #272729;
  --r-globalnav-segmentbar-text-color: rgba(255, 255, 255, 0.92);
  --r-globalnav-segmentbar-border-color: rgba(255, 255, 255, 0.24);
  --content-height: 580px;
  --columns: 1;
  --gutter-width: 12px;
  --gutter-half-width: 6px;
  --gutter-and-half-width: 18px;
  --gutter-color: #fff;
  --double-edge-border-width: 0px;
  --edge-border-width: 0px;
  --background-color: #fbfbfd;
  --text-color: #1d1d1f;
  --edge-border-width-fallback: 0px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-synthesis: none;
  direction: ltr;
  text-align: left;

  font-size: 17px;
  line-height: 1.47059;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  background-color: #fff;
  color: #1d1d1f;
  font-style: normal;
}

.navbar__top {
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: var(--navbar-height);
  position: fixed;
  background: var(--navbar-background);
  color: var(--navbar-text-color);
  padding: 1rem;
}

.navbar__top ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.navbar__top ul li {
  font-size: 12px;
  line-height: 3.66667;
  font-weight: 400;
  letter-spacing: -0.01em;
  font-family: "SF Pro Text", "Myriad Set Pro Regular", "SF Pro Icons",
    "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: rgb(29, 29, 31);
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 0 8px;
  height: 44px;
  opacity: 0.8;
  background: no-repeat;
  text-decoration: none;
  white-space: nowrap;
  outline-offset: -7px;
}

.navbar__top ul a {
  color: #ccc;
  text-decoration: none;
  padding: 0.75rem;
  margin: 0 0.25rem;
}

.navbar__top ul li a:hover {
  color: #fff;
}

.navbar__top .nav__link--apple {
  background-size: 14px 44px;
  background-repeat: no-repeat;
  background-image: url(/assets/svg/globalnav_apple_image__b5er5ngrzxqq_large.svg);
  background-position: center center;
  width: 14px;
}

.navbar__top .nav__link--bag {
  background-size: 13px 44px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(/assets/svg/globalnav_bag_image__yzte50i47ciu_large.svg);
  width: 13px;
}

.navbar__top .nav__link--apple:hover,
.navbar__top .nav__link--bag:hover {
  color: #fff;
}

/* Main START */
.main {
  position: relative;
  max-width: 2560px;
  margin: 0 auto;
  padding-top: var(--global-nav-collective-height);
}

.main .collection-module {
  display: grid;
  width: 100%;
}

.main .module-content {
  width: 100%;
  height: auto;
  position: relative;
  box-sizing: border-box;
}

.main [data-module-template]:nth-child(1),
.main [data-unit-id]:nth-child(1) {
  z-index: 42;
}

.main [data-module-template].collection-module [data-unit-id] {
  box-sizing: border-box;
  position: relative;
  padding-top: 0px;
  border-style: none;
  overflow: visible;
  border-left-width: 0px;
  border-right-width: 0px;
}

.main [data-module-template="ribbon"] [data-unit-id="holiday"] {
  background-color: #e34140;
  display: grid;
  width: 100%;
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}

.large-centered {
  margin-left: auto;
  margin-right: auto;
}

.large-12 {
  flex-basis: 100%;
  max-width: 100%;
}

.column {
  box-sizing: border-box;
  margin: 0;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0;
  min-width: 0px;
}

.main [data-module-template="ribbon"] [data-unit-id="holiday"] p {
  padding: 12px 0;
}

.main [data-module-template="ribbon"] [data-unit-id="holiday"] p,
.main [data-module-template="ribbon"] [data-unit-id="holiday"] a {
  color: #fff;
  font-size: 14px;
}

.main [data-module-template="ribbon"] [data-unit-id="holiday"] a {
  display: inline-block;
}

.main [data-module-template="heroes"].collection-module {
  background-color: var(--gutter-color);
  grid-gap: var(--gutter-width);
  grid-template-areas: "";
  grid-template-columns: repeat(var(--columns), 1fr);
  width: calc(
    100% - var(--double-edge-border-width) - var(--safe-area-inset-lt) -
      var(--safe-area-inset-rt)
  );
  left: calc(var(--edge-border-width) + var(--safe-area-inset-lt));
  border-bottom: var(--gutter-width) solid var(--gutter-color);
}

.body-with-ribbon
  [data-module-template="heroes"]
  [data-unit-id]:first-child
  .module-content,
.body-with-ribbon
  [data-module-template="heroes"]
  [data-unit-id]:first-child
  .unit-wrapper {
  height: var(--content-height);
}

.main
  [data-module-template="heroes"].collection-module
  [data-unit-id]
  .module-content {
  color: var(--text-color);
  background-color: var(--background-color);
  padding-top: var(--global-nav-collective-height);
  height: calc(var(--content-height) + var(--global-nav-collective-height));
}

.main [data-module-template="heroes"] [data-unit-id],
.main [data-module-template="heroes"] .module-content {
  height: 580px;
}

.main [data-module-template="heroes"] [data-unit-id],
.main [data-module-template="heroes"] .module-content {
  width: 100%;
}

.body-with-ribbon
  [data-module-template="heroes"]
  [data-unit-id]:first-child
  .module-content,
.body-with-ribbon
  [data-module-template="heroes"]
  [data-unit-id]:first-child
  .unit-wrapper {
  height: var(--content-height);
}

.main
  [data-module-template="heroes"]
  [data-unit-id="holiday-2021"]
  .unit-wrapper.bg-set-c {
  background-color: #eeeffe;
}

[data-module-template] [data-unit-id] .unit-wrapper {
  top: calc(var(--global-nav-collective-height) * -1);
  height: calc(var(--content-height) + var(--global-nav-collective-height));
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: #fbfbfd;
  background-color: rgb(251, 251, 253);
}

.main
  [data-module-template="heroes"].collection-module
  [data-unit-id]
  .module-content {
  color: var(--text-color);
}

[data-module-template] [data-unit-id] .unit-wrapper a.unit-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.body-with-ribbon
  [data-module-template="heroes"]
  [data-unit-id]:first-child
  .unit-copy-wrapper {
  margin-top: 0;
}

.main
  [data-module-template="heroes"]
  [data-unit-id="holiday-2021"]
  .unit-copy-wrapper {
  padding-top: 29px;
}

.main [data-module-template="heroes"] [data-unit-id] .unit-copy-wrapper {
  text-align: center;
  padding-top: 47px;
}

[data-module-template] [data-unit-id] .unit-wrapper .unit-copy-wrapper {
  position: relative;
  flex-grow: 0;
  z-index: 4;
  pointer-events: none;
  margin-top: var(--global-nav-collective-height);
}

.main
  [data-module-template="heroes"]
  [data-unit-id="holiday-2021"]
  .unit-copy-wrapper
  .apple-logo {
  width: 70px;
  height: 88px;
  background-size: 70px 88px;
  background-repeat: no-repeat;
  background-image: url("/assets/img/logo__dcojfwkzna2q_medium_2x.png");
  margin: 0 auto;
}

.main
  [data-module-template="heroes"]
  [data-unit-id="holiday-2021"]
  .unit-copy-wrapper
  .headline {
  margin-top: 20px;
}

.main
  [data-module-template="heroes"]
  [data-unit-id]
  .unit-copy-wrapper
  > .headline {
  font-size: 56px;
  line-height: 1.07143;
  font-weight: 600;
  letter-spacing: -0.005em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}

.main
  [data-module-template="heroes"]
  [data-unit-id="holiday-2021"]
  .unit-copy-wrapper
  .cta-links {
  margin-top: 9px;
}
.main
  [data-module-template="heroes"]
  [data-unit-id]
  .unit-copy-wrapper
  > .cta-links {
  position: relative;
  z-index: 4;
  text-decoration: none;
}

.main [data-module-template="heroes"] [data-unit-id] .unit-copy-wrapper > .cta,
.main
  [data-module-template="heroes"]
  [data-unit-id]
  .unit-copy-wrapper
  > .cta-links {
  display: inline-block;
  font-size: 21px;
  line-height: 1.381;
  font-weight: 400;
  letter-spacing: 0.011em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  margin-top: 0.65em;
}

.main
  [data-module-template="heroes"]
  [data-unit-id="holiday-2021"]
  .unit-image-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
}
[data-module-template] [data-unit-id] .unit-wrapper .unit-image-wrapper {
  z-index: 1;
  overflow: visible;
  flex-grow: 1;
}
.main [data-module-template="heroes"] .unit-image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.main
  [data-module-template="heroes"]
  [data-unit-id="holiday-2021"]
  .unit-wrapper.bg-set-c
  .set-c {
  display: flex;
}

.main
  [data-module-template="heroes"]
  [data-unit-id="holiday-2021"]
  .unit-image-wrapper
  .unit-image-container {
  position: absolute;
}

.main [data-module-template="heroes"] .unit-image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.main
  [data-module-template="heroes"]
  [data-unit-id="holiday-2021"]
  .unit-image-wrapper
  .unit-image-container {
  justify-content: center;
  align-items: center;
  margin-top: 26px;
}

.main
  [data-module-template="heroes"]
  [data-unit-id="holiday-2021"]
  .unit-image-wrapper:not(.pause)
  .unit-image-animate {
  animation: rotate 4s 0.125s ease-in-out forwards;
}

.main
  [data-module-template="heroes"]
  [data-unit-id="holiday-2021"]
  .unit-image-wrapper
  .unit-image-container
  .unit-image-animate
  .unit-image-rotate {
  transform: rotateZ(-4deg) translate3d(0, 0, 0);
  margin: 0 4px;
}

.main
  [data-module-template="heroes"]
  [data-unit-id="holiday-2021"]
  .unit-image-wrapper
  .unit-image-container
  .unit-image-animate
  .unit-image-rotate
  .unit-image {
  position: relative;
}

[data-module-template] [data-unit-id] .unit-image {
  z-index: 1;
  position: absolute;
  border: 0;
  margin: 0;
  padding: 0;
  left: calc(50% + 0px);
  right: auto;
  bottom: 0px;
  top: auto;
  transform: translateX(-50%);
}

.main
  [data-module-template="heroes"]
  [data-unit-id="holiday-2021"]
  .unit-image-wrapper
  .unit-image-container.set-c
  .unit-image-macbook
  .unit-image {
  width: 289px;
  height: 281px;
  background-size: 289px 281px;
  background-repeat: no-repeat;
  background-image: url("https://www.apple.com/v/home/ah/images/heroes/holiday-2021/set-c/macbook__d0g7o7oqt282_large.png");
}

.main
  [data-module-template="heroes"]
  [data-unit-id="holiday-2021"]
  .unit-image-wrapper
  .unit-image-container.set-c
  .unit-image-ipadmini
  .unit-image {
  width: 289px;
  height: 281px;
  background-size: 289px 281px;
  background-repeat: no-repeat;
  background-image: url("https://www.apple.com/v/home/ah/images/heroes/holiday-2021/set-c/ipadmini__f0pd6cilwaie_large.png");
}

.main
  [data-module-template="heroes"]
  [data-unit-id="holiday-2021"]
  .unit-image-wrapper
  .unit-image-container.set-c
  .unit-image-ipadair
  .unit-image {
  width: 289px;
  height: 281px;
  background-size: 289px 281px;
  background-repeat: no-repeat;
  background-image: url("https://www.apple.com/v/home/ah/images/heroes/holiday-2021/set-c/ipadair__fkr21evsr6a2_large.png");
}

.icon::before,
.icon::after,
.more::before,
.more::after {
  font-family: "SF Pro Icons";
  color: inherit;
  display: inline-block;
  font-style: normal;
  font-weight: inherit;
  font-size: inherit;
  line-height: 1;
  text-decoration: underline;
  position: relative;
  z-index: 1;
}

/* Main END */
/* 
.hero {
  background: var(--hero-background);
  height: var(--hero-content-height);
  position: relative;
  top: var(--navbar-height);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 50;
}

.hero .navbar__bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  height: var(--navbar-bottom-height);
  background-color: #e34140;
  color: rgba(255, 255, 255, 0.92);
  z-index: 42;
}

.hero .navbar__bottom a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}

.hero .navbar__bottom a:after {
  content: "";
  display: block;
  padding-left: 0.3em;
  top: 0;
}

.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.hero__content .apple-logo--gift {
  text-align: center;
  width: 54px;
  height: 67px;
  background-size: 54px 67px;
  background-repeat: no-repeat;
  background-image: url(/assets/img/logo__dcojfwkzna2q_medium_2x.png);
}

.hero__content .cta-links {
  display: inline-block;
  margin-top: 13px;

  font-size: 19px;
  line-height: 1.21053;
  font-weight: 400;
  letter-spacing: 0.012em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}

.hero__content .cta-links a {
  text-decoration: none;
}

.hero-spinners {
  position: relative;
  display: flex;
  justify-content: center;

  z-index: 1;
  overflow: visible;
  flex-grow: 1;

  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.hero-spinners__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 21px;
  position: absolute;
}

TODO

.hero-spinner-1 .unit-image {
  width: 289px;
  height: 281px;
  background-size: 289px 281px;
  background-repeat: no-repeat;
  background-image: url(/assets/img/iphone__cyamwsdph26a_medium_2x.png);
}

.hero-spinner-2 .unit-image {
  width: 289px;
  height: 281px;
  background-size: 289px 281px;
  background-repeat: no-repeat;
  background-image: url(/assets/img/airpods__b0941p5gmwj6_medium_2x.png);
}

.hero-spinner-3 .unit-image {
  width: 289px;
  height: 281px;
  background-size: 289px 281px;
  background-repeat: no-repeat;
  background-image: url(/assets/img/ipad__bq6djchifrbm_medium_2x.png);
}

.section-1 {
  background: #fbfbfd;
}

.unit-image-wrapper .unit-image--section-1 {
  z-index: 1;
  width: 1200px;
  height: 624px;
  background-size: 1200px 624px;
  background-repeat: no-repeat;
  background-image: url(/assets/img/hero_iphone_13pro__dhnsegysa42u_medium_2x.jpg);
}

.section-2 {
  background: #32283b;
  height: 624px;
}

.section-2 .section__content {
  justify-content: flex-start;
}

.section-2 .section__title {
  color: #f5f5f7;
}

.section-2 .section__subtitle {
  color: #fec2eb;
}

.unit-image-wrapper .unit-image--section-2 {
  width: 1200px;
  height: 624px;
  background-size: 1200px 624px;
  background-repeat: no-repeat;
  background-image: url(/assets/img/hero_iphone_13__f194u1rdooeq_medium_2x.jpg);
}

.section--grid {
  top: 20px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.section-3 .section-3-right__content .section__content {
  margin-top: 350px;
}

.unit-image-wrapper .unit-image--section-3-left {
  width: 750px;
  height: 580px;
  background-size: 750px 580px;
  background-repeat: no-repeat;
  background-image: url(/assets/img/tile_macbookpro__cx0ur0qg9biq_medium_2x.jpg);
}

.unit-image-wrapper .unit-image--section-3-right {
  width: 590px;
  height: 580px;
  background-size: 590px 580px;
  background-repeat: no-repeat;
  background-image: url(/assets/img/tile_airpods__fuv6vgn42y2q_medium_2x.jpg);
}

.section-4 .section-4-right__content span {
  color: #bf4800;
  font-size: 14px;
  line-height: 1.33337;
  font-weight: 400;
  letter-spacing: -0.01em;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  display: block;
}

.unit-image-wrapper .unit-image--section-4-left {
  width: 750px;
  height: 580px;
  background-size: 750px 580px;
  background-repeat: no-repeat;
  background-image: url(/assets/img/tile_homepod_mini__b73w4z3ljymu_medium_2x.jpg);
}

.section-4 .section-4-right__content .logo-image-watch {
  width: 146px;
  height: 56px;
  background-size: 146px 56px;
  background-repeat: no-repeat;
  background-image: url(/assets/img/tile_watch_logo_lte__h7snssb7mqq2_medium_2x.png);
  background-position: center;
}

.unit-image-wrapper .unit-image--section-4-right {
  width: 590px;
  height: 580px;
  background-size: 590px 580px;
  background-repeat: no-repeat;
  background-image: url(/assets/img/tile_watch__e9n11b6m6yq2_medium_2x.jpg);
}

.section-5 .section-5-left__content .logo-image-card {
  width: 146px;
  height: 56px;
  background-size: 146px 56px;
  background-repeat: no-repeat;
  background-image: url(/assets/img/tile__cauwwcyyn9hy_medium_2x.jpg);
  background-position: center;
}

.unit-image-wrapper .unit-image--section-5-left {
  width: 750px;
  height: 580px;
  background-size: 750px 580px;
  background-repeat: no-repeat;
  background-image: url(/assets/img/tile_homepod_mini__b73w4z3ljymu_medium_2x.jpg);
}

.unit-image-wrapper .unit-image--section-5-right {
  width: 590px;
  height: 580px;
  background-size: 590px 580px;
  background-repeat: no-repeat;
  background-image: url(/assets/img/promo_dickinson__c9ea4l2f5rki_medium_2x.jpg);
} */

/** TODO old sections  END*/
.grid__links {
  display: none;
}

.footer__content--preamble {
  border-bottom: 1px solid var(--footer-border-color);
  padding: 17px 0 11px;
}

.footer__content--preamble ul {
  list-style: none;
  margin: 0;
}

.footer__content--preamble li {
  font-size: 12px;
  line-height: 1.33337;
  font-weight: 400;
  letter-spacing: -0.01em;
  padding-bottom: 0.8em;
  font-family: "SF Pro Text", "Myriad Set Pro Regular", "SF Pro Icons",
    "Apple Legacy Chevron", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.footer-lists__container {
  display: flex;
  flex-wrap: nowrap;
  padding-top: 20px;
}

.footer-list__column {
  flex-basis: 25%;
  font-size: 1em;
  box-sizing: content-box;
}

.footer-list__column--title {
  font-weight: 600;
  margin-right: 20px;
  margin-bottom: 0.8em;

  color: #1d1d1f;
}

.footer-lists__container .footer-list__column .footer-list__column--ul {
  margin-right: 20px;
  list-style: none;
  padding: 0;
}

.footer-lists__container .footer-list__column .footer-list__column--item {
  display: block;
  margin-bottom: 0.8em;
}

.footer-lists__container .footer-list__column .footer-list__column--link {
  color: #424245;
  text-decoration: none;
}

.footer-content-bottom {
  padding-top: 34px;
  padding-bottom: 21px;
  line-height: 16px;
  border-top: none;
}

.footer-content-bottom__shop {
  margin-bottom: 7px;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--footer-border-color);
}

.footer-content-bottom__shop a {
  color: var(--footer-mini-shop-link-color);
}

.footer-content-bottom__locale {
  float: right;
  margin-top: 5px;
  position: relative;
  bottom: 30px;
  z-index: 2;
  white-space: nowrap;
}

.footer-content-bottom__locale--link {
  border-left: 1px solid var(--footer-border-color);
  margin-left: 7px;
  padding-left: 11px;
  display: inline;
}

.footer-content-bottom__locale--link:first-child {
  border-left: none;
  margin-left: 0;
  padding-left: 0;
}

.footer-content-bottom__legal {
  position: relative;
  top: -3px;
  z-index: 1;
}

.footer-content-bottom__legal::before {
  content: " ";
  display: table;
}

.footer-content-bottom__legal::after {
  clear: both;
  content: " ";
  display: table;
}

.footer-content-bottom--copyright {
  margin-right: 30px;
  float: left;
  margin-top: 5px;
}

.footer-content-bottom--links {
  position: relative;
  top: -5px;
  z-index: 1;

  margin-right: 30px;
  float: left;
  margin-top: 5px;
}

.footer-content-bottom--link {
  border-right: 1px solid var(--footer-border-color);
  margin-right: 7px;
  padding-right: 10px;
  display: inline-block;
  margin-top: 5px;
  white-space: nowrap;
}

.footer-content-bottom--link:last-child {
  border: none;
  margin: 0;
  padding: 0;
}
